a {
    cursor: pointer;
}

h1 {
    font-size: 55px;
    font-weight: 700;
}

p {
    color: #5c5c5c;
}

.darkblueback {
    background-color: #1c84c1;
    color: white;
    padding-bottom: 470px;
}

.darksandback {
    background-color: #f6a664;
}
.sandback {
    background-color: #ffd792;
}

#logo img {
    width: 180px;
    object-fit: scale-down;
}

#googlebtn img {
    width: 180px;
    object-fit: cover;
}

#smartphone img {
    max-height: 600px;
    object-fit: scale-down;
    margin-top: -500px;
}

.fa-user-check, .fa-hands-helping, .fa-rocket {
    font-size: 35px;
    color: #1c84c1;
}

.fab {
    vertical-align: middle;
}

.btn {
    height: 40px;
    width: 40px;
    text-align: center;
    border: transparent;
    color: #1e1e1e;
}

.btn:hover {
    background-color: #f6a664;
    color: white;
}

@media screen and (min-width: 400px) {
    #smartphone img {
        margin-left: 80px
    }
    .darkblueback {
        padding-bottom: 540px;
    }
}
